<div class="form-section selfmade_m0d">
    <div class="tab" style="display: inline-block">
        <button class="tablinks" id="default" data-tab="settings">Einstellungen</button>
        <button class="tablinks" data-tab="shortcuts">Shortcuts</button>
        <button class="tablinks" data-tab= "credits">Credits</button>
    </div><hr>
    <div class="tabcontent" id="settings">
            <div id="bt">
                Geblockte Tags:<br>
                <div class="tag-container"></div>
                <input placeholder="tag1,tag2,tag3,..." title="Tags mit Komma trennen!"></input>
                <input type="checkbox" class="box-from-label" name="onlyGoodTags">
                    <label for="onlyGoodTags"> Ignoriere Tags mit negativen Benis </label>
                Anzahl der zu berücksichtigen Tags: <input type="number" min="-1" max="999" value="-1" title="-1 = alle">
            </div>
            <br><hr />
            <div id="bu" title="Nutzernamen mit Komma trennen!">
                Geblockte Nutzer:<br>
                <div class="tag-container"></div>
                <input placeholder="nutzer1,nutzer2,nutzer3,..."></input>
                <input type="checkbox" class="box-from-label" name="bc">
                    <label for="bc"> Kommentare von geblockten Nutzern entfernen</label>
            </div>
            <br><hr/>
            <div id="bc">
                Geblockte Wörter in den Kommentaren:<br>
                <div class="tag-container"></div>
                <input placeholder="wort1,wort2,wort3,..." title="Wörter mit Komma trennen!"></input><br>
                <input type="checkbox" class="box-from-label" name="ComMinBenis">
                    <label for="ComMinBenis" style="display:inline-block"> Mindest Benis bei Kommentaren:</label> <input type="number" min="-999" max="999" value="0">
                <input type="checkbox" class="box-from-label" name="shortComms" /> <label for="shortComms"> Zu lange Kommentare kürzen</label>
            </div>
            <br><hr/>
            <div id="br" >
                Geblockte Ränge:<br>
                <div style="margin-left:25px;">
                    <input type="checkbox" class="box-from-label" name="Gesperrt">
                        <label for="Gesperrt" style="color:#444444"> Gesperrt </label>
                    <input type="checkbox" class="box-from-label" name="Fliesentischbesitzer">
                        <label for="Fliesentischbesitzer" style="color:#6C432B"> Fliesentischbesitzer</label>
                    <input type="checkbox" class="box-from-label" name="Neuschwuchtel">
                        <label for="Neuschwuchtel" style="color:#E108E9" >Neuschwuchtel</label>
                    <input type="checkbox" class="box-from-label" name="Schwuchtel">
                        <label for="Schwuchtel" style="color:#FFFFFF">Schwuchtel</label>
                    <input type="checkbox" class="box-from-label" name="Altschwuchtel">
                        <label for="Altschwuchtel" style="color:#5BB91C"> Altschwuchtel</label>
                    <input type="checkbox" class="box-from-label" name="Wichtler">
                        <label for="Wichtler" style="color:#D23C22"> Wichtler</label>
                    <input type="checkbox" class="box-from-label" name="Edler Spender">
                        <label for="Edler Spender" style="color:#1cb992"> Edler Spender</label>
                    <input type="checkbox" class="box-from-label" name="Lebende Legende">
                        <label for="Lebende Legende" style="color:#1cb992"> Lebende Legende</label>
                    <input type="checkbox" class="box-from-label" name="Moderator">
                        <label for="Moderator" style="color:#008FFF"> Moderator</label>
                    <input type="checkbox" class="box-from-label" name="Administrator">
                        <label for="Administrator" style="color:#FF9900"> Administrator</label>
                </div>	
            </div>
            <br><hr/>
            <div id="mb" >
                <input type="checkbox" class="box-from-label" name="minBenis" >
                    <label for="minBenis" style="display:inline-block">Skippe Bilder mit einem Benis kleiner als: </label><input type="number" min="-999" max="999" value="0"><br>
                <input type="checkbox" class="box-from-label" name="minAverageBenis" >
                    <label for="minAverageBenis" style="display:inline-block"> Skippe Bilder mit einem Benis verhältnis(+/-) kleiner als: </label><input type="number" min="-999" max="999" value="0">
            </div>
            <br><hr/>
            <div id="sr" >
                <input type="checkbox" class="box-from-label" name="sar">
                    <label for="sar"> Nach Bewertung skippen</label>
            </div>
            <br><hr>
            <div id="nf">
                <input type="checkbox" class="box-from-label" name="notification">
                    <label for="notification">Notifications anzeigen</label>
                Notificationsfarbe: <input type="color" id="color"><br>
                Notificationdauer in Sekunden: <input type="number">
            </div>
            <br>
            <div id="save">
                <input type="submit" value="Speichern" class="confirm settings-save"></input>
            </div>
            <br>
            <div id="reset">
                <a class="action clear-settings-button">Einstellungen zurücksetzen</a>
            </div>
    </div>
    <div class="tabcontent" id="shortcuts">
        <span>-'1' um auf /neu zu gehen</span>
        <span>-'2' um auf /top zu gehen</span>
        <span>-'3' um auf /stalk zu gehen</span>
        <span>-'x' um das Addon zu de-/aktivieren</span>
        <span>-'d' um das erste Bild zu öffnen wenn noch keins offen ist </span>
        <span>-'e' um zu den Einstellungen zu kommen</span>
        <span>-'n' um zu den Nachrichten zu kommen</span>
        <span>-Linksklick auf eine Notification bringt dich zurück zum Bild</span>
        <span>-Rechtsklick auf eine Notification entfernt sie</span>
        <span>-Ein erneutes Bewerten eines Bilder per Tasten entfernt die Bewertung wieder</span>
        <span>-Klicke auf einen geblockten Kommentar um ihn wieder sichtbar zu machen</span>
    </div>
    <div class="tabcontent" id="credits">
        <span>Author: <a onclick="p.navigateTo('user/Frubi',0)">Frubi</a></span>
        <span>Soße: <a href="https://greasyfork.org/de/scripts/35129-selfmade-m0d">Selfmade M0d auf Greasyfork</a></span>
        <span>Code: <a href="https://github.com/Frubi22/selfmade_m0d/">Selfmade M0d auf GitHub</a></span>
        <span>Tester: <a onclick="p.navigateTo('user/apeir0n',0)">apeir0n</a></span>
    </div>
</div>
